*{
    margin: 0;
    padding: 0;

}
.header{
    background-color:#10243c;
    padding-bottom: 1cm;
    display: flex;
    position: relative;
    
    
}
.log img{

    width: 40px;
    margin-top: 1em;
    padding-left: 20px;

}

.header .text{
    margin-top: 1em;
    color: aliceblue;
    font-size: 15px;

}
.nav li img{
    width: 15px;
}
.header .text p{
    font-weight: bold;
    font-size: 20px;
}
.logtext{
    display: flex;
    padding-left: 1cm;
    margin-top: 0.5cm;
    
    
    
}

.nav li{
    list-style: none;
    padding-left:1cm;
   
}
.nav{
    display: flex;
    margin-top: 0.5cm;
    padding-left: 13cm;
}
.nav li a{
   
    text-decoration: none;
    color: white;
    font-size: 18px;
   
    
}
.ide{
    font-weight: bold;
}
.line{
    color: wheat;
}


.nav2 li{
    list-style: none;
    padding-left: 1em;

}
.nav2{
    display: flex;
    background-color:white;
    box-shadow: 3px 3px 3px rgb(243, 242, 242);;
    
    width: 50%;
    align-items: center;
    position: absolute;
    top: 90px;
    right: 3cm;

}
.nav2 li a{
    text-decoration: none;
    color: rgb(84, 82, 82);
    font-size: 16px;


}
.pic{
    background-image: url("images/agaf.png");
    width: 45px;
    height: 45px;
    padding-left: 6em;
    padding: 1em 2em;
   
}