*{
    margin: 0;
    padding: 0;

}
.header{
    background-color:#10243c;
    padding-bottom: 1cm;
    display: flex;
    position: relative;
    
    
}
.log img{

    width: 40px;
    margin-top: 1em;
    padding-left: 20px;

}

.header .text{
    margin-top: 1em;
    color: aliceblue;
    font-size: 15px;

}
.nav li img{
    width: 15px;
}
.header .text p{
    font-weight: bold;
    font-size: 20px;
}
.logtext{
    display: flex;
    padding-left: 1cm;
    margin-top: 0.5cm;
    
    
    
}

.nav li{
    list-style: none;
    padding-left:1cm;
   
}
.nav{
    display: flex;
    margin-top: 0.5cm;
    padding-left: 13cm;
}
.nav li a{
   
    text-decoration: none;
    color: white;
    font-size: 18px;
   
    
}
.ide{
    font-weight: bold;
}
.line{
    color: wheat;
}


.nav2 li{
    list-style: none;
    padding-left: 1em;

}
.nav2{
    display: flex;
    background-color:white;
    box-shadow: 3px 3px 3px rgb(243, 242, 242);;
    
    width: 52%;
    align-items: center;
    position: absolute;
    top: 90px;
    right: 3cm;

}
.nav2 li a{
    text-decoration: none;
    color: rgb(84, 82, 82);
    font-size: 16px;


}
.pic{
    background-image: url("images/agaf.png");
    width: 40px;
    height: 40px;
    padding-left: 6em;
    padding: 1em 2em;
   
}
.par{
    background-color: #ebebeb;
    padding: 2em;
}
.par p{
    padding-top: 1cm;
}
.secpar{
    font-weight: bold;
    font-size: 40px;
    color: #10243c;

}
 .imaget{
    margin-top: 1cm;
}

.btn{
    padding-left: 7cm;
margin-top: 2cm;

}
.btn button{

    color:black;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;

}
.btn button:hover{
    background-color: white;
    transition: 1s;

}
span{
    color: #e28743
}
.allall{
    display: flex;
}
.pic4 img{
    width: 160%;
    height: 105%;
     padding-left: 2cm; 
    margin-top: 1cm; 
}

.fourth{
    margin-top: 2cm;
   
}
.fourth img{
    width: 80%;
    height: 30%;
}
.parg{
    margin-top: 1cm;
    padding-left: 2.5cm;
}
.prg{
   
    margin-top: 2cm;
}
.p2{
    font-weight: bold;
    font-size: 30px;
    color: #10243c;
    margin-top: 0.3cm;

}
.p4{
    
    font-size: 30px;
    color: #10243c;
    margin-top: 0.5cm;

}

.allne{
    display: flex;
    
}
.p3{
    margin-top: 0.5cm;
}
.allp4{
    margin-top: 2.5cm;
}
.fifth{
    margin-top: 2cm;
    background-color: #0b233f;
    
}

.bgandimg img{
    width:660px;
    height: 400px;
}
.textall{
    display: flex;
}

.texte{
    padding-left: 2cm;
    margin-top: 1cm;
}
.p8{
    color: white;

}
.p9{
    color: white;
    margin-top: 0.5cm;
    font-weight: bold;
    font-size: 40px;
}
.fo img{
    margin-top: 0.5cm;
}
.p10{
    color: white;
    margin-top: 1cm;
    font-size: 20px;
}
.btn2 button{
    background-color: #0b233f;
    margin-top: 1cm;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    color: white;
    transform: scaleX(1);
    
}
.btn2 button:hover{
    background-color: rgb(39, 70, 117);
    transform: scaleX(1.5);
    transition: 1s;
}
.btn2{
    padding-left: 8cm;
}
#ipho{
    margin-top: 1cm;
    padding-left: 2cm;

}
#ipho2{
    margin-top: 1cm;
    height: 103%;

}
.nextnext{
    margin-top: 3cm;
}
.p11{
    /* color: #10243c; */

}
.p12{
    color: #10243c;
    margin-top: 0.5cm;
    font-weight: bold;
    font-size: 40px;


}
.alltextebt{
    display: flex;
}
.btn5{
    padding-left: 15cm;
    margin-top: 3cm;
}
.btn5 button{
    padding: 1em;
    color: #10243c;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: white;
    transform: scaleX(1);
    
    
}
.btn5 button:hover{
    background-color: #ebebeb;
    transform: scale(1.1);
}
label{
   color: #e28743;

}
.net2{
    
    padding: 2cm;
}
.mage img{
    width: 700px;
    height: 400px;
    position: absolute;
    margin-top: 1cm;
   
}
.othebg{
    background-color: #edf2f8;
    width: 50%;
    padding: 1cm;
   margin-left: 12cm;
   padding-left: 4cm;
}
.aall{
    display: flex;
}
.textt{
    padding-left: 4cm;
}
.p15{

}
.p16{
    color: #10243c;
    margin-top: 0.5cm;
    font-weight: bold;
    font-size: 35px;

}
.btn0{
    padding-left: 3cm;
    margin-top: 1cm;
}
.btn0 button{

}

.btn0 button{
    padding: 0.5em;
    
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
   background-color: #edf2f8;
    transform: scaleX(1);
    
    
}
.btn0 button:hover{
    background-color: #cdcaca;
    transform: scale(1.1);
}
.mynext{
    margin-top: 2cm;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.p19{
    color: #10243c;
    margin-top: 0.5cm;
    font-weight: bold;
    font-size: 20px;


}
.parga img{
    width: 300px;
    height: 200px;
}
.parga{
    margin: 1cm;
}
.yes{
    margin-top: 1cm;
}
.pho1 img{
    width: 360px;
    height: 250px;
    

}


.photto{
    margin-top: 1cm;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.allp{
    padding-left: 2cm;
}
.p20{
    margin-top: 0.5cm;
}
.p21{
    color: #10243c;
    margin-top: 0.5cm;
    font-weight: bold;
    font-size: 20px;

}
.p22{
    margin-top: 0.5cm;

}
.all10{
    margin-left: 5em;
}
.otherkb{
    margin-top: 1.5cm;
    
}

.otherkb .bgc{
          background-color: #0b233f;
          width: 700px;
          height: 450px;
          margin-top: 0.5cm;
          
}
.p24{

    color: white;
    font-size: 25px;
    padding: 2em;

}
.p25{
    color: white;
    padding-left: 5cm;
    font-size: 18px;

}
.allw{
    display: flex;
}
.imggg img{
           width: 600px;
          height: 500px;
}
.p27{
    color: #10243c;
    font-weight: bold;
    font-size: 40px;
}
.anotr{
    margin-top: 2cm;
    margin: 2em;
}
.alsl{
    display: flex;
    margin-top: 2cm;
    width: 40%;
    
    
}
.tre{
    padding-left: 2cm;
    
}
.p29{
    font-size: 23px;
    font-weight: bold;
    color: #10243c;

}
.p30{
    font-size: 18px;
}

